@import "tailwindcss";


@keyframes marquee-scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .marquee {
    animation: marquee-scroll 20s linear infinite;
    display: flex;
    width: max-content;
  }
  
  
  
  
  